@use "variable" as v;
@use "mixin" as m;

.company__inner{
  
  .company__title{
    text-align: center;
  }
}

.kaisha {
  width: 70%;
  margin: 3rem auto;
}

.kaisha th,
.kaisha td {
  color: v.$white;
  margin: 0 1rem;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: start;
    ul {
      padding: 0;
      li {
      list-style: none;
      text-align: start;
      }
    }
 }
  @include m.tablet {
    .kaisha td {
    text-align: start;
  }
  }
  
  .kaisha th {
  font-weight: bold;
  width: 10rem;
  // background-color: #dedede; 
  }
  
  @media screen and (max-width: 767px) {
  .kaisha,
  .kaisha tr,
  .kaisha td,
  .kaisha th {display:block;}
  .kaisha th {width:auto;}
  }