@use "variable" as v;
@use "mixin" as m;

.wpcf7 {
  
  p{
    label {
      display: block;
      align-items: center;
      a{
        color: v.$white;
      }
      a:hover {
        color: red;
      }
      @include m.tablet {
        display: flex;
      }
      .wpcf7-form-control-wrap{
        flex: 2;
      }
      .s-contact {
        margin-right: 2rem;
        flex:1;
        text-align: right;
      }
      .t-contact {
        align-self: normal;
      }
    }
  }
}

::placeholder {
  color: v.$gray;
}

input,
textarea {
  margin-right: 0;
  width: 100%;
} 

.kojin {
  display: none;
  @include m.tablet {
    flex: 1;
    display: block;
  }
}
.check {
  flex: 2;
  a{
  color: v.$red1;
  }
}
.wpcf7-list-item-label {
  display: block;
}

.check {
  display: block;
  .wpcf7-form-control-wrap {
    display: block;
    .wpcf7-form-control {
      display: block;
      .wpcf7-list-item {
        display: block;
        label {
          display: flex;
          flex-direction: row-reverse;
          justify-content: flex-end;
        }
      }
    }
  }
  input {
    width: 30px;
  }
}

.checkb{
  p{
    display: flex;
  }
}
.doui {
  width: 5%;
}

.contact__title {
  text-align : center;
}
.contact-container {
  width: 70%;
  margin-left: 2rem;
  margin-top: 3rem;
  @include m.tablet{
    // width: 70%;
    margin: 3rem auto;

  }
  @include m.pc {
    max-width: 960px;

  }
  input, select, textarea {
    background-color: v.$green04;
  }
 }
 
div {
  .hissu {
    color : v.$red1;
    font-size: 1rem;
    vertical-align: top;
  
 }
//  .wpcf7-form-control-wrap {
//     position:static;
//     font-size: 1.6rem;
// }
  &.company {
    input {
      width: 15rem;
    }
  }
  
  &.name {
    input {
      width: 10rem;
    }
  }
  
  &.male {
    input {
      width: 20rem;
    }
  }
  
  &.prefer {
    select {
      width: 10rem;
    }
  }
  
  &.city {
    input {
      width: 20rem;
    }
  }
  
  &.tel-no {
    input {
      width: 15rem;
    }
  }
  
  &.send-btn {
    input {
    width: 8rem;
    height: 4rem;
  }
  }
}

input, textarea, select {
  padding: 1rem;
  border:solid 1px v.$green02;
  border-radius: 4px;
  box-sizing: border-box;
  @include m.sp {
    width: 100%;
  }

  &:focus {
    outline: 1px v.$green03 solid;
  }
}

