@use "variable" as v;
@use "mixin" as m;

.header {
  top: 0;
  width: 100%;
  // height: 20rem;
  background-color: transparent;
  background-color: black;

}

.header-inner {
  position: fixed;
  width: 100%;
  transition: .5s;

  &.scrolled {
    background-color: v.$green04;
    // transition: .5s;
  .header-logo {
    a {
      color: v.$dark-gray;
    }
  }
  .nav-button {
    i {
      color: v.$dark-gray;
    }
  }
  }
}

.logo {
  width: 250px;
  transform: translateX(15px) translateY(-15px);
}

.header-logo {
  display:block;
  text-align:center;
  padding: 2rem;
  background-color: black;
  
}

.pc-nav {
  display: none;
  @include m.pc {
    display: flex;
    justify-content: space-around;
    background-color: v.$red2;
  }

.pc-nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  a {
    margin-right: 2rem;
    color: v.$black;
    // letter-spacing: 0.1em;
    font-weight: bold;
    
    @include m.tablet {
      font-size: 18px;
    }
  }  
}
}


main {
  padding-top: 130px;
}

