@use "variable" as v;
@use "mixin" as m;

main {
  max-width: 960px;
  margin: 11rem auto;
}

.wrapper {
  margin-top: 6rem;
@include m.tablet{
    margin-top: 15rem;
 }
@include m.pc{
    margin-top: 21rem;
 }
}
@include m.pc{
  .container {
    display: flex;
    flex-direction: row-reverse;
    // margin-top: 6rem;
  }
  
  .main-container {
    width: 70%;
    margin-top: 2rem;
    margin-left: 2rem;
  }
  
  .sub-container {
    width: 30%;
    margin-top: 2rem;
    }
  
}

.section-title {
  font-size: 16px;
  font-weight: bold;
  color: v.$white;
  background-color: v.$red2;
  padding: 1rem 0;
  
}

.section-title::before {
  content: attr(data-en);
  display: block;
  font-size: 24px;
  text-transform: capitalize;
}

.news__inner {
  background-color: v.$dark-gray;
  max-width: 1000px;
  margin: 0 auto;
}

.news__title {
  margin-top: 0;
  margin-bottom: 2rem;
  text-align: center;
}

.cards {
  width: 100%;
  max-width: 980px;
  margin-top: 2rem;
  // margin-bottom: 4rem;

}

.news {
  
  .card {
    display: grid;
    gap: 10px;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: 
      "cYear cCat cCat  "
      "cImg  cTitle cTitle";
    @include m.tablet {
      grid-template-rows: auto auto 1fr;
      grid-template-columns: auto 1fr;
      grid-template-areas: 
      "cImg   cImg "
      "cYear  cCat  "
      "cTitle cTitle";
      }
    
    .card__title {
      grid-area: cTitle;
      color: v.$white;
      margin: 0;
      line-height: 1.2;
      font-size: 1.4rem;
      padding: .5rem;
    }

    .card__year {
      grid-area: cYear;
      color: v.$white;
      font-size: 1.2rem;
      margin: 4px;
    }

    .card__category {
      grid-area: cCat;
      ul{
        margin: 0;
        padding: 0;

      }
      li {
        display: inline-block;
        color: v.$white;
        background-color: v.$red2;
        // padding: 3px 5px;
        // border-radius: 3px;
        // font-size: 1.2rem;
      }
    }

    .card_image{
      grid-area: cImg;
      width: 100px;
      img{
      height: auto;
      object-fit: cover;
      aspect-ratio: 16/9 ;
      width: 100%
      }
      @include m.tablet {
        width: 100%;
      }
    }
  }
}
  .news__cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include m.tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin: 2rem auto 0;
    }
  
    .cards__item {
      background-color: v.$black;
      @include m.tablet {
        width: 45%;
      }
    }
  }

.news__btn {
  text-align: center;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  .btn {
    text-decoration: none;
    color: v.$white;
    padding: 10px 20px;
    min-width: 300px;
    background-color: v.$black;
    border-radius: 20px;
    text-transform: uppercase;
    }
}


.column {

  .column__inner {
    background-color: v.$dark-gray;
    max-width: 1000px;
    margin: 0 auto;
  }
  .column__title {
    margin-top: 0;
    text-align: center;

  }

  .column__cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include m.tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      // gap: 2rem;

    }
    .cards__item {
      // margin-top: 2rem;
      // margin-bottom: 2rem;
      background-color: v.$black;
      @include m.tablet {
        width: 45%;
      }
    }
  }

  .card {
    display: grid;
    gap: 10px;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto 1fr;
    grid-template-areas: 
      "cYear cCat cCat  "
      "cImg  cTitle cTitle";
      @include m.tablet {
        grid-template-rows: auto auto;
        grid-template-columns: auto 1fr;
        grid-template-areas: 
        "cImg   cImg "
        "cYear  cCat  "
        "cTitle cTitle";
        // place-items: center;
        }
    .card__title {
      grid-area: cTitle;
      color: v.$white;
      margin: 0;
      line-height: 1.2;
      font-size: 1.4rem;
      padding: .5rem;
    }

    .card__year {
      grid-area: cYear;
      color: v.$white;
      font-size: 1.2rem;
      margin: 4px;
    }

    .card__category {
      grid-area: cCat;
      margin: 0;
      padding: 0;
      color: v.$white;
      ul {
        margin: 0;
        padding: 0;
      }
      li {
        background-color: v.$red2;
        
        }
    }

    .card_image {
      grid-area: cImg;
      width: 100px;
      @include m.tablet {
        width: 100%;
      }
      img{
        height: auto;
        width: 100%;
        object-fit: cover;
        aspect-ratio: 16/9 ;
      }
    }
  }

  .column__btn {
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    .btn {
      text-decoration: none;
      color: v.$white;
      padding: 10px 20px;
      min-width: 300px;
      background-color: v.$black;
      border-radius: 20px;
      text-transform: uppercase;
    }
  }
}

