@use "variable" as v;
@use "mixin" as m;

main {
  max-width: 960px;
  margin: 0 auto;
}

@include m.tablet{
  .wrapper {
    margin-top: 8rem;
 }
}
@include m.pc{
  .container {
    display: flex;
    flex-direction: row-reverse;
    // margin-top: 6rem;
  }
  
  .main-container {
    width: 70%;
    margin-top: 2rem;
    margin-left: 1rem;
  }
  
  .sub-container {
    width: 30%;
    margin-top: 2rem;
    }
  
}

.section-title {
  font-size: 16px;
  font-weight: bold;
  color: v.$white;
  background-color: v.$red2;
  // margin: 0;
  padding: 1rem 0;
  
}

.section-title::before {
  content: attr(data-en);
  display: block;
  font-size: 24px;
  text-transform: capitalize;
}

.cards {
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  // justify-content: center;
}

.news {
  
  .card {
    display: grid;
    gap: 10px;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: 
      "cYear cCat cCat  "
      "cImg  cTitle cTitle";
    @include m.tablet {
      grid-template-rows: auto 1fr;
      grid-template-columns: auto 1fr;
      grid-template-areas: 
      "cImg   cImg "
      "cYear  cCat  "
      "cTitle cTitle";
      }
    
    .card__title {
      grid-area: cTitle;
      color: v.$white;
      margin: 0;
      line-height: 1.2;
      font-size: 1.4rem;
      padding: .5rem;
    }

    .card__year {
      grid-area: cYear;
      color: v.$white;
      font-size: 1.2rem;
      margin: 4px;
    }

    .card__category {
      grid-area: cCat;
      span {
        color: v.$white;
        background-color: v.$red2;
        padding: 3px 5px;
        border-radius: 3px;
        font-size: 1.2rem;
      }
    }
    

    .card_image{
      grid-area: cImg;
      width: 100px;
      img{
      height: auto;
      object-fit: cover;
      aspect-ratio: 16/9 ;
      width: 100%
      }
      @include m.tablet {
        width: 100%;
      }
    }
  }
}
  .news__cards {
    a{
      margin-bottom: 2rem;
    }
  
    .cards__item {
      background-color: v.$black;
      @include m.tablet {
        width: 45%;
      }
    }
  }
  // .cards__item:first-child {
  //   margin-top: 0;
  //   @include m.tablet {
  //     margin-top: 2rem;
  //   }
  // }


.news__inner {
  background-color: v.$dark-gray;
  max-width: 1000px;
  margin: 0 auto;
  // ul { 
  //   padding: 1rem;
  // }
}
.news__title {
  text-align: center;
}
@include m.tablet {
  .news__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 4rem auto 0;
    
  }
}

.news__btn {
  text-align: center;
  padding: 2rem;
.btn {
  text-decoration: none;
  color: v.$white;
    padding: 10px 20px;
    min-width: 300px;
    background-color: v.$black;
    border-radius: 20px;
    text-transform: uppercase;
  }
}


.column {
  .card {
    display: grid;
    gap: 10px;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto 1fr;
    grid-template-areas: 
      "cYear cCat cCat  "
      "cImg  cTitle cTitle";
      @include m.tablet {
        grid-template-rows: auto auto;
        grid-template-columns: auto 1fr;
        grid-template-areas: 
        "cImg   cImg "
        "cYear  cCat  "
        "cTitle cTitle";
        // place-items: center;
        }
    .card__title {
      grid-area: cTitle;
      color: v.$white;
      margin: 0;
      line-height: 1.2;
      font-size: 1.4rem;
      padding: .5rem;
    }

    .card__year {
      grid-area: cYear;
      color: v.$white;
      font-size: 1.2rem;
      margin: 4px;
    }

    .card__category {
      grid-area: cCat;
      span {
        color: v.$white;
        background-color: v.$red2;
        padding: 3px 5px;
        border-radius: 3px;
        font-size: 1.2rem;
      }
    }

    .card_image {
      grid-area: cImg;
      width: 100px;
      @include m.tablet {
        width: 100%;
      }
      img{
        height: auto;
        width: 100%;
        object-fit: cover;
        aspect-ratio: 16/9 ;
      }
    }
  }
  .column__cards {
    .cards__item {
      margin-top: 2rem;
      background-color: v.$black;
      @include m.tablet {
        width: 45%;
      }
    }
  }

  .column__inner {
    background-color: v.$dark-gray;
    max-width: 1000px;
    margin: 0 auto;
  }
  .column__title {
    text-align: center;
  }
  @include m.tablet {
    .column__cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
    }
  }
  .column__btn {
    padding: 2rem;
    text-align: center;
  .btn {
    text-decoration: none;
    color: v.$white;
      padding: 10px 20px;
      min-width: 300px;
      background-color: v.$black;
      border-radius: 20px;
      text-transform: uppercase;
    }
  }
}

// .ranking {
//   .cards__item {
//     display: grid;
//     gap: 10px;
//     margin: 0;
//     margin-top: 1rem;
//     background-color: v.$black;
//     grid-template-rows: auto auto auto;
//     grid-template-columns: auto 1fr;
//     grid-template-areas: 
//       "cNum cYear cCat cCat  "
//       "cImg cImg  cTitle cTitle";
//     @include m.other {
//       margin-top: 0;
//       grid-template-rows: auto auto 1fr;
//       grid-template-columns: 1fr 1fr auto;
//       grid-template-areas:
//       "cImg cImg cImg"
//       "cNum cYear cCat"
//       "cTitle cTitle cTitle";
//     }
//     @include m.tablet {
//       .cards__item { 
//         padding-bottom: 2rem;
//       }
//     }

//     .card__num {
//       grid-area: cNum;
//       span {
//         color: v.$white;
//         background-color: v.$red2;
//         padding: 3px 8px;
//         font-size: 1.2rem;
//       }
//     }
//     .card__title {
//       grid-area: cTitle;
//       color: v.$white;
//       margin: 0;
//       line-height: 1.2;
//       font-size: 1.4rem;
//     }

//     .card__year {
//       grid-area: cYear;
//       color: v.$white;
//       font-size: 1.2rem;
//       margin: 4px;
//     }

//     .card__category {
//       grid-area: cCat;
//       span {
//         color: v.$white;
//         background-color: v.$red2;
//         padding: 3px 5px;
//         border-radius: 3px;
//         font-size: 1.2rem;

//       }
//     }

//     .card__img {
//       grid-area: cImg;
//       width: 100px;
//       @include m.tablet {
//         width: 100%;
//       }
//     }
//   }
// }

// .ranking__inner {
//   background-color: v.$dark-gray;
//   max-width: 1000px;
//   margin: 0 auto;
// }
// .ranking__title {
//   text-align: center;
// }

// @include m.other {
//   .ranking {
//     .cards {
//       display: grid;
//       gap: 10px;
//       grid-template-rows: auto auto auto ;
//       grid-template-columns: auto auto auto auto auto auto;
//       grid-template-areas:
//       "cCard1 cCard1 cCard1 cCard1 cCard1 cCard1 "
//       "cCard2 cCard2 cCard2 cCard3 cCard3 cCard3"
//       "cCard4 cCard4 cCard5 cCard5 cCard6 cCard6 ";
//       place-items: center;

//     }

//     .card--1 {
//       grid-area:cCard1;
//       // width: 100%;
//       // max-width: 270px;
//     }
//     .card--2 {
//       grid-area:cCard2;
//       // width: 90%;
//     }
//     .card--3 {
//       grid-area:cCard3;
//       // width: 90%;
//     }
//     .card--4 {
//       grid-area:cCard4;
//       // width: 90%;
//     }
//     .card--5 {
//       grid-area:cCard5;
//       // width: 90%;
//     }
//     .card--6 {
//       grid-area:cCard6;
//       // width: 90%;
//     }
//   }
// }

// .ranking__btn {
//   padding: 2rem;  
//   text-align: center;
// }
  
  