@use "variable" as v;
@use "mixin" as m;

.news_indiv {
  background-color: v.$black;


  .indiv-inner{
    color: v.$white;
    padding: 2rem;
    .indiv-title {
      line-height: 1.25;
      margin: 0;
    }
    .indiv-image {
      margin-top: 1rem;
      max-height: 400px;
      text-align: center;

    }

    .indiv-category {
      UL {
        padding: 0;
      }
      li {
        display: inline;
        color: v.$white;
        background-color: v.$red2;
        padding: 3px 5px;
        border-radius: 3px;
        font-size: 1rem;
          
      }
    }
    // .indiv-text {
    //   background-color: v.$black;
    // }
  }
}
.page {
  text-align: center;
  color: v.$white;
}
