@use "variable" as v;
@use "mixin" as m;

.news-category {
  padding: 1rem;
  li{
    display: inline-block;
    padding: 0 8px;
    margin-bottom: 1.2rem;
    margin-right: .5rem;
    background-color: v.$red1;
    border-radius: 1rem;
  }
}
.news_indiv {
  background-color: v.$black;
  .indiv-inner{
    color: v.$white;
    padding: 2rem;
    .indiv-title {
      line-height: 1.25;
      margin: 0;
    }
    .indiv-image {
      margin-top: 1rem;
      max-height: 400px;
      text-align: center;
    }

    .indiv-category {
      UL {
        padding: 0;
      }
      li {
        display: inline;
        color: v.$white;
        background-color: v.$red2;
        padding: 3px 5px;
        border-radius: 3px;
        font-size: 1rem;
          
      }
    }
  }
}

.page-section {
  display: flex;
  justify-content: space-between;
  .nav-previous,
  .nav-next {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    color: v.$white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: v.$red2;
    
    @include m.tablet {
      height: 4rem;
  
    a {
      margin: 2rem;
    }
  }
}
}
