@use "variable" as v;
@use "mixin" as m;

.privacy__inner{
  
  .privacy__title{
    text-align: center;
  }
  
  .text {
    color: v.$white;
    margin: 0 1rem;
    @include m.tablet {
      margin: 0 3rem;
    }
  }
}