@use "variable" as v;
@use "mixin" as m;

.slider-for {
  .cards__item {
    position: relative;
    display: block;


  }
  .slide-t {
    position: absolute;
    bottom: 0;
    color: v.$white;
    width: 100%;
    background-color: rgba(0,0,0,0.2);  /* 半透明の背景。 */
    .card__title{
      font-size: 1.6rem;
      padding: 0 1rem;
      width: 100%;
      box-sizing: border-box;
      span {
        display: block;
      }
    }
    .inner-text {
      display: flex;
    }
    .card__year,
    .card__category {
      padding: 0 1rem;
      font-size: 1.2rem;
      padding-bottom: 1rem;
    }
    .card__category {
      span{ 
        color: v.$white;
        background-color: v.$red2;
        padding: 3px 5px;
        border-radius: 3px;
        font-size: 1.2rem;
      }

    }
  }
    // .card-img {
    //   position: relative;
    // }
  
  }

.slider-nav {
    .card {
    margin: 10px;
    font-size: 2rem;
    font-weight: bold;
    line-height: 100px;
    color: #666;
    text-align: center;
    background-color: #e0e0e0;
    }
}
