// 変数
$white: #fff;
$black: #000;
$red1:#FF0000;
$red2:#D40F0F;
$gray: #727272;
$dark-gray: #484343;
$azuki: #9E6F6F;
$usu-azuki: #E6D8D8;
$green: #BADCAD;
$green01: #36BFB1;
$green02: #038C73;
$green03: #02735E;
$green04: #DBE8E7;
$green05: #343;
$twitter: #1d9bf0;
$fb: #1877F2;